.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
  margin: 0 auto;
  align-items: start;
}
.contactInput {
  width: 100%;
  padding: 5px 10px;
}
.contactError {
  color: red;
}
.submitBtn {
  width: 300px;
  margin: 0 auto;
}
